<div>
  <h1>Met ton tweet</h1>
</div>
<div>
 <%= form_for(@tweet, method: :post) do |f| %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.submit "Envoyer", :class => "btn btn-primary" %>
<% end %>
</div>
