<div class="navbar navbar-brand">
  Twitter
  <div class="navbar navbar-right">
    <%= link_to 'Post a tweet', tweets_new_path, :class => "btn btn-primary" %>
    <%= link_to 'All the tweets', root_path, :class => "w3-bar-item w3-button" %>
  </div>
</div>
